In [21]:
import pandas as pd
import datetime as dt
ore=pd.read_csv('olist_order_reviews_dataset.csv')
ore.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [22]:
ore.isna().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       88285
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [23]:
ore.describe(include='all')

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
count,100000,100000,100000.000000,11715,41753,100000,100000
unique,99173,99441,NaN,4600,36921,637,99010
top,f4bb9d6dd4fb6dcc2298f0e7b17b8e1e,8e17072ec97ce29f0e1f111e598b0c85,NaN,Recomendo,Muito bom,2017-12-19 00:00:00,2017-06-15 23:21:05
freq,3,3,NaN,426,230,466,4
mean,NaN,NaN,4.070890,NaN,NaN,NaN,NaN
std,NaN,NaN,1.359663,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,5.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,5.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,5.000000,NaN,NaN,NaN,NaN

In [24]:
ore.dtypes

review_id                  object
order_id                   object
review_score                int64
review_comment_title       object
review_comment_message     object
review_creation_date       object
review_answer_timestamp    object
dtype: object

In [25]:
# 1st we have to cover object dataypes to datetime format so we can get date, year, etc information from it easily
ore[['review_creation_date','review_answer_timestamp']] = ore[['review_creation_date','review_answer_timestamp']].apply(pd.to_datetime)

In [26]:
ore.dtypes

review_id                          object
order_id                           object
review_score                        int64
review_comment_title               object
review_comment_message             object
review_creation_date       datetime64[ns]
review_answer_timestamp    datetime64[ns]
dtype: object

In [27]:
# we can clear see that review_creation_date doesnot contain hour,min and  sec information so we can get only year,month and date info
ore['review_creation_date_yr'] = ore['review_creation_date'].dt.year
ore['review_creation_date_mo'] = ore['review_creation_date'].dt.month
ore['review_creation_date_dy'] = ore['review_creation_date'].dt.day

In [28]:
ore['review_answer_timestamp_yr'] = ore['review_answer_timestamp'].dt.year
ore['review_answer_timestamp_mo'] = ore['review_answer_timestamp'].dt.month
ore['review_answer_timestamp_dy'] = ore['review_answer_timestamp'].dt.day
ore['review_answer_timestamp_hr'] = ore['review_answer_timestamp'].dt.hour
ore['review_answer_timestamp_mi'] = ore['review_answer_timestamp'].dt.minute
ore['review_answer_timestamp_sec'] = ore['review_answer_timestamp'].dt.second

In [29]:
ore

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,review_creation_date_yr,review_creation_date_mo,review_creation_date_dy,review_answer_timestamp_yr,review_answer_timestamp_mo,review_answer_timestamp_dy,review_answer_timestamp_hr,review_answer_timestamp_mi,review_answer_timestamp_sec
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18,2018-01-18 21:46:59,2018,1,18,2018,1,18,21,46,59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10,2018-03-11 03:05:13,2018,3,10,2018,3,11,3,5,13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17,2018-02-18 14:36:24,2018,2,17,2018,2,18,14,36,24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06,2017,4,21,2017,4,21,22,2,6
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53,2018,3,1,2018,3,2,10,26,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09,2017-12-11 20:06:42,2017,12,9,2017,12,11,20,6,42
99996,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22,2018-03-23 09:10:43,2018,3,22,2018,3,23,9,10,43
99997,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01,2018-07-02 12:59:13,2018,7,1,2018,7,2,12,59,13
99998,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,NaN,Solicitei a compra de uma capa de retrovisor c...,2017-12-15,2017-12-16 01:29:43,2017,12,15,2017,12,16,1,29,43
99999,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03,2017-07-03 21:01:49,2017,7,3,2017,7,3,21,1,49

In [30]:
ore=ore.drop(['review_creation_date','review_answer_timestamp'],axis=1)

In [31]:
ore.isna().sum()

review_id                          0
order_id                           0
review_score                       0
review_comment_title           88285
review_comment_message         58247
review_creation_date_yr            0
review_creation_date_mo            0
review_creation_date_dy            0
review_answer_timestamp_yr         0
review_answer_timestamp_mo         0
review_answer_timestamp_dy         0
review_answer_timestamp_hr         0
review_answer_timestamp_mi         0
review_answer_timestamp_sec        0
dtype: int64

In [32]:
ore.to_csv('new_olist_order_reviews_dataset.csv',index=False)

In [33]:
pd.read_csv('new_olist_order_reviews_dataset.csv')

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date_yr,review_creation_date_mo,review_creation_date_dy,review_answer_timestamp_yr,review_answer_timestamp_mo,review_answer_timestamp_dy,review_answer_timestamp_hr,review_answer_timestamp_mi,review_answer_timestamp_sec
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018.0,1.0,18.0,2018.0,1.0,18.0,21.0,46.0,59.0
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018.0,3.0,10.0,2018.0,3.0,11.0,3.0,5.0,13.0
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018.0,2.0,17.0,2018.0,2.0,18.0,14.0,36.0,24.0
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017.0,4.0,21.0,2017.0,4.0,21.0,22.0,2.0,6.0
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018.0,3.0,1.0,2018.0,3.0,2.0,10.0,26.0,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99997,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017.0,12.0,9.0,2017.0,12.0,11.0,20.0,6.0,42.0
99998,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018.0,3.0,22.0,2018.0,3.0,23.0,9.0,10.0,43.0
99999,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018.0,7.0,1.0,2018.0,7.0,2.0,12.0,59.0,13.0
100000,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,NaN,Solicitei a compra de uma capa de retrovisor c...,2017.0,12.0,15.0,2017.0,12.0,16.0,1.0,29.0,43.0
100001,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017.0,7.0,3.0,2017.0,7.0,3.0,21.0,1.0,49.0